footer.l-footer(data-aos='fade')
  .o-gotop(onclick="lenis.scrollTo('body', { duration: 1.5 })")
    .o-gotop__arrow
      i.fas.fa-long-arrow-alt-up
    .o-gotop__text TOP
    
  .l-footer__body 
      .l-footer__menu
        ul.l-footer__btn-box.u-text-lg.--link
          li.l-footer__btn-wrap
            a.l-footer__btn(href="index.html") 首頁
          li.l-footer__btn-wrap
            a.l-footer__btn(href="new.html") 新品上架
          li.l-footer__btn-wrap
            a.l-footer__btn(href="all.html") 所有產品
          li.l-footer__btn-wrap
            a.l-footer__btn(href="bib.html") 圍兜
          li.l-footer__btn-wrap
            a.l-footer__btn(href="lovey.html") 安撫巾
          li.l-footer__btn-wrap
            a.l-footer__btn(href="blanket.html") 豆豆毯

        //- ul.l-footer__btn-box.l-footer__btn-box--icon
        ul.l-footer__btn-box.--icon
          li.l-footer__btn-wrap
            a.l-footer__btn(href="index.html")
              iconify-icon.u-icon(icon="la:user")
              span 登入
          li.l-footer__btn-wrap
            a.l-footer__btn(href="shoppingcar.html")
              iconify-icon.u-icon(icon="basil:shopping-bag-outline")
              span 購物袋
          li.l-footer__btn-wrap
            a.l-footer__btn(href="https://www.instagram.com/mulitoutou.studio/")
              iconify-icon.u-icon(icon="carbon:logo-instagram")

        u-text-sm © 2024 Mulitoutou. All rights reserved.