-
  const baseUrl = 'https://url-to-domain.com.tw';
  const siteName = '(專案實作)牡蠣偷偷來｜';
  let path = '';
  let pageTitle = '';
  let infoTitle = '網頁介紹';
  let description = '網頁相關內容';
  let image = 'img/og/og.jpg'

