doctype html
html(lang="en")
  head
    include includes/_settings.pug
    -
      path = '/about.html';
      pageTitle = '關於我們';
      infoTitle = '關於我們後面的資訊標題';
      description = '關於我們的網頁描述';
      image = 'img/og/og-about.jpg';

    include includes/_head.pug

  body 
    include includes/_navbar.pug
    